/*Navbar*/
nav {
  padding: 0 1.4rem;
}

/*Showcase*/
.showcase {
  padding: 0;
  background-image: none;
}

.show-txt {
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  @include com-flex(center);
  flex-direction: column;

  h1 {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }

  .show-pic {
    background-image: url("../images/image-intro-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* Footer*/
.footer {
  padding: 4rem 0;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
}

.footer-header {
  flex-direction: column;
  margin-bottom: 3rem;
}

.footer-info {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
